* {
    box-sizing: border-box;
}

.source-with-result {
    display: flex;
    flex-direction: row;
}

.source {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    width: 40%;
    vertical-align: top;
}

.dictionary {
    display: grid;
    grid: repeat(8, auto) / auto-flow;
    gap: 0.5em;
    opacity: 80%;
}

.CodeMirror {
    border: 1px solid gray;
    margin: 0.2em;
    height: auto;
}

.cm-word.cm-good {}

.cm-word.cm-unknown {
    text-decoration: wavy underline red;
}

.cm-word.cm-error {
    text-decoration: underline orange;
}

.eval-position.cm-good {
    border-bottom: 2px solid skyblue;
}

.eval-position.cm-unknown {
    border-left: 2px solid red;
}

.eval-position.cm-error {
    border-left: 2px solid orange;
}

.result {
    width: 60%;
    vertical-align: top;
}

.before-stack {
    height: 0.8ex;
    width: 100%;
    background: linear-gradient( skyblue, snow);
}

.stack {
    padding: 4px;
}

.animation {
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin-top: 0.5ex;
    width: max-content;
}
