.source {
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    width: 40%;
    height: 90%;
    vertical-align: top;
}

.result {
    display: inline-block;
    vertical-align: top;
}

.stack {
    padding: 4px;
    border-bottom: 3px solid brown;
}

.animation {
    padding-left: 2px;
    padding-right: 2px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin-top: 4px;
    width: max-content;
}
